.App {
  font-size: 22px;
  color: rgba(149, 165, 166);
}

@media only screen and (max-width: 400px) {
  .App {
    font-size: 14px;
  }

}
@media only screen and (min-width: 400px) and (max-width: 550px) {
  .App {
    font-size: 18px;
  }
}
