.EditIncomeForm {
  height: 30vh;
  max-height: 500px;
  display: table;
  border-collapse: separate;
  border-spacing: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.EditIncomeForm__amount,
.EditIncomeForm__date,
.EditIncomeForm__description {
  display: table-row;
}

.EditIncomeForm__input,
.EditIncomeForm__select {
  margin: auto;
  outline: none;
  border-radius: 0.4rem;
  text-indent: 10px;
  background: #1a1a1a;
  border: 1px solid rgba(149, 165, 166);
  color: rgba(149, 165, 166);
}

.EditIncomeForm__input {
  width: 225px;
  height: 45px;
}

#date.EditIncomeForm__input {
  width: 228px;
  height: 47px;
  text-indent: 4px;
}

.EditIncomeForm__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 233px;
  height: 51px;
}

.EditIncomeForm__input,
.EditIncomeForm__select,
.EditIncomeForm__label {
  display: table-cell;
  padding-left: 10px;
}

@media only screen and (max-width: 400px) {
  .EditIncomeForm__input,
  .EditIncomeForm__select {
    font-size: 12px;
  }

  .EditIncomeForm__input {
    height: 33px;
    width: 150px;
  }

  .EditIncomeForm__select {
    height: 37px;
    width: 156px;
  }

  #date.EditIncomeForm__input {
    height: 35px;
    width: 153px;
  }
}

@media only screen and (max-width: 350px) {
  .EditIncomeForm {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 400px) {
  .EditIncomeForm__input,
  .EditIncomeForm__select {
    font-size: 20px;
    border: 2px solid rgba(149, 165, 166);
  }
}
