.EditExpenseForm2 {
  background: #1a1a1a;
  width: 80vw;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 10%;
}

.EditExpenseForm2__title {
  font-size: 34px;
  font-weight: 600;
}

.EditExpenseForm2__input__container {
  height: 50px;
  position: relative;
  width: 100%;
}

.EditExpenseForm2__input__container.ic1 {
  margin-top: 1%;
}

.EditExpenseForm2__input {
  background: #2d2d2d;
  color: #65657b;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  height: 7vh;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  font-size: 18px;
}

.EditExpenseForm2__cut {
  background: #1a1a1a;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 9vh;
}

.EditExpenseForm2__cut.amount {
  width: 7.5vh;
}

.EditExpenseForm2__cut.short,
.item {
  width: 5.5vh;
}

.EditExpenseForm2__cut.description {
  width: 10vh;
}

.EditExpenseForm2__input:focus ~ .EditExpenseForm2__cut,
.EditExpenseForm2__input:not(:placeholder-shown) ~ .EditExpenseForm2__cut {
  transform: translateY(8px);
}

.EditExpenseForm2__placeholder {
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.EditExpenseForm2__input:focus ~ .EditExpenseForm2__placeholder,
.EditExpenseForm2__input:not(:placeholder-shown)
  ~ .EditExpenseForm2__placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

input,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* .submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
} */

@media only screen and (max-width: 400px) {
  .title {
    font-size: 24px;
  }

  .EditExpenseForm2__input {
    height: 100%;
    font-size: 14px;
  }
}
