.LoadingModalTwo__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoadingModalTwo__spinning__icon {
  animation: spin 4s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
