.AddExpenseForm {
  height: 50vh;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.AddExpenseForm__input,
.AddExpenseForm__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: auto;
  outline: none;
  border-radius: 0.4rem;
  text-indent: 10px;
  background: #1a1a1a;
  border: 1px solid rgba(149, 165, 166);
  color: rgba(149, 165, 166);
}

.AddExpenseForm__input {
  width: 225px;
  height: 45px;
}

#date.AddExpenseForm__input {
  width: 228px;
  height: 47px;
  text-indent: 4px;
}

.AddExpenseForm__select {
  width: 233px;
  height: 51px;
}

@media only screen and (max-width: 400px) {
  .AddExpenseForm__input,
  .AddExpenseForm__select {
    font-size: 12px;
  }

  .AddExpenseForm__input {
    height: 33px;
    width: 150px;
  }

  .AddExpenseForm__select {
    height: 43px;
    width: 166px;
  }

  #date.AddExpenseForm__input {
    height: 35px;
    width: 153px;
  }
}

@media only screen and (min-width: 400px) {
  .AddExpenseForm__input,
  .AddExpenseForm__select {
    font-size: 20px;
    border: 2px solid rgba(149, 165, 166);
  }
}
