.DateModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  color: rgba(149, 165, 166);
  z-index: 10;
}

.DateModal__content {
  width: 80vw;
  max-width: 500px;
  height: 60%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  box-sizing: border-box;
  padding: 20px;
  background: #1a1a1a;
  position: absolute;
}

.DateModal__exit__btn {
  position: absolute;
  padding: 5px;
  top: 0;
  right: 0;
}

.DateModal__submit__btn {
  position: absolute;
  padding: 5px;
  bottom: 0;
  left: 0;
}

.DateModal__clear__btn {
  position: absolute;
  padding: 5px;
  bottom: 0;
  right: 0;
}

.DateModal__title {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 20%;
}

.DateModal__input__container {
  height: 50px;
  position: relative;
  width: 80%;
  margin-bottom: 15%;
}

.DateModal__input__container.ic1 {
  margin-top: 1%;
}

.DateModal__input {
  background: #2d2d2d;
  color: #65657b;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  height: 7vh;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  font-size: 18px;
}

.DateModal__cut {
  background: #1a1a1a;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 7vh;
}

.DateModal__cut.from {
  width: 5vh;
}

.DateModal__cut.to {
  width: 3vh;
}

.DateModal__input:focus ~ .DateModal__cut,
.DateModal__input:not(:placeholder-shown) ~ .DateModal__cut {
  transform: translateY(8px);
}

.DateModal__placeholder {
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.DateModal__input:focus ~ .DateModal__placeholder,
.DateModal__input:not(:placeholder-shown) ~ .DateModal__placeholder {
  transform: translateY(-30px) translateX(8px) scale(0.75);
}

input,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 24px;
  }

  .DateModal__input {
    height: 100%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .DateModal {
    bottom: calc(60px);
  }
}
