.DateModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  color: rgba(149, 165, 166);
  z-index: 10;
}

.DateModal__content {
  width: 85vw;
  max-width: 600px;
  height: 45vh;
  min-width: 200px;
  max-height: 500px;
  min-height: 250px;
  border-radius: 0.4rem;
  background: #1a1a1a;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DateModal__exit__btn {
  position: absolute;
  padding: 5px;
  top: 0;
  right: 0;
}

.DateModal__submit__btn {
  position: absolute;
  padding: 5px;
  bottom: 0;
  left: 0;
}

.DateModal__clear__btn {
  position: absolute;
  padding: 5px;
  bottom: 0;
  right: 0;
}

.DateModal__from,
.DateModal__to,
.DateModal__ranges {
  display: table-row;
  margin-bottom: 15px;
}

.DateModal__form__input,
.DateModal__form__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: auto;
  outline: none;
  border-radius: 0.4rem;
  text-indent: 10px;
  background: #1a1a1a;
  border: 1px solid rgba(149, 165, 166);
  color: rgba(149, 165, 166);
}

.DateModal__form__input {
  width: 185px;
  height: 42px;
}

.DateModal__form__select {
  width: 190px;
  height: 45px;
}

@media only screen and (max-width: 400px) {
  .DateModal__form__input,
  .DateModal__form__select {
    font-size: 12px;
  }

  .DateModal__form__input {
    height: 32px;
    width: 155px;
  }

  .DateModal__form__select {
    height: 34px;
    width: 158px;
  }
}

@media only screen and (min-width: 400px) {
  .DateModal__form__input,
  .DateModal__form__select {
    font-size: 20px;
    border: 2px solid rgba(149, 165, 166);
  }
}

.DateModal__form__input,
.DateModal__form__label,
.DateModal__form__select {
  display: table-cell;
}

.DateModal__form__label {
  padding-bottom: 14%;
}
