.DateModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  color: rgba(149, 165, 166);
  z-index: 10;
}

.DateModal__content {
  width: 80vw;
  max-width: 500px;
  height: 60%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  box-sizing: border-box;
  padding: 20px;
  background: #1a1a1a;
  position: absolute;
}

.DateModal__clear__btn {
  position: absolute;
  padding: 5px;
  bottom: 0;
  right: 0;
}

