.SanityCheckTile__container {
  min-height: 10rem;
  margin: 0 1rem 1rem 1rem;
  background: #525151;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
}

.SanityCheckTile__header {
  height: 20px;
  background: #3a3939;
  padding: 0.9rem;
  border-radius: 0.4rem 0.4rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SanityCheckTile__header__left {
  display: flex;
  align-items: center;
}

.SanityCheckTile__content {
  display: flex;
  justify-content: space-around;
  margin: auto 0;
}

.SanityCheckTile__content__column {
  display: flex;
  flex-direction: column;
}

.SanityCheckTile__content__value {
  text-align: center;
}

.sanity__check__value {
  font-weight: bold;
}

.SanityCheckTile__spinning__icon {
  animation: spin 4s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}