.AddExpenseFormLabel {
  height: 50vh;
  max-height: 500px;
  display: table;
  border-collapse: separate;
  border-spacing: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.AddExpenseFormLabel__amount,
.AddExpenseFormLabel__category,
.AddExpenseFormLabel__date,
.AddExpenseFormLabel__description,
.AddExpenseFormLabel__item,
.AddExpenseFormLabel__payment {
  display: table-row;
}

.AddExpenseFormLabel__input,
.AddExpenseFormLabel__select {
  outline: none;
  border: 1px solid rgba(149, 165, 166);
  border-radius: 0.2rem;
  height: 45%;
  width: 95%;
  background: #1a1a1a;
  color: rgba(149, 165, 166);
}

.AddExpenseFormLabel__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.AddExpenseFormLabel__input,
.AddExpenseFormLabel__select,
.AddExpenseFormLabel__label {
  display: table-cell;
}

@media only screen and (max-width: 350px) {
  .AddExpenseFormLabel {
    display: flex;
    flex-direction: column;
  }
  .AddExpenseFormLabel__input,
  .AddExpenseFormLabel__select {
    font-size: 12px;
  }
}

@media only screen and (min-width: 400px) {
  .AddExpenseFormLabel__input,
  .AddExpenseFormLabel__select {
    font-size: 20px;
  }
}
